:root {
    --bw-input-error-color: red;
    --bw-input-error-font: 12px;

}

.color-error+.err-msg {
    color: var(--bw-input-error-color);
    font-size: var(--bw-input-error-font);
    padding-left: 16px;
}